body {
	background: rgba(127, 173, 177, 0.493);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #0e0d0c;
    line-height: 30px;
    margin: 0;
    padding: 0;
    
    /* text-align: center; */
}

#page-wrapper {
    position: relative;
    width: 100%;
    min-width: max-content;
}

.intro {
    position: relative;
    text-align: center;
    color: white;
}

/* .top-center {
    position: absolute;
    top: 8rem;
    left: 48rem;
    font-size: 10rem;
}

.bottom-center {
    position: absolute;
    bottom: 8rem;
    left: 48rem;
    font-size: 7rem;
} */

.top-center {
    position: relative;
    text-align: center;
    transform: translateY(-45rem);
    font-size: 10rem;
}

.bottom-center {
    text-align: center;
    transform: translateY(-10rem);
    font-size: 6rem;
}


/* .intro {
    display: flex;
justify-content: center;
} */

.title {
    font-size: 80px;
    font-weight: bold;
   padding-top: 1rem;
    text-align: center;
    
}

.title-rule {
    font-weight: 700;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
	color: #d05a4e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1 {
	margin-top: 10px;
	font-size: 30px;
    font-weight: 600;
    color: #615c58;
    line-height: 42px;
}

img { max-width: 100%; }

::-moz-selection { background: #d05a4e; color: #fff; text-shadow: none; }
::selection { background: #d05a4e; color: #fff; text-shadow: none; }

.fa-code{
    color: #2163af;
    font-size: 4em;
    margin-left: 8.5rem;
    display: inline-block;
    /* display: flex;
    justify-content: center; */
  }

.skills{
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills li  {
border-radius: 10rem;
border: solid black;
  }

.skills a{
    
    max-height: 75px;
    min-width: 300px !important;
    transform: translate(-340px, 400px);
    justify-content: center;
    font-weight: bold;
    border: solid black;
    padding-top: 1rem;
    text-decoration: underline;
}

.skills .btn{
    display: flex;
    background-color: rgb(226, 118, 10);
    color: black;
    width: 200%;
    margin-left: 1rem;
    
    /* border-radius: 10rem; */
    
}

.skills h2, .fa-code {
    transform:  translate(210px, -100px);
    font-size: 5rem;
    color:rgb(226, 118, 10);
}

.skills h1 {
    transform:  translate(270px, -100px);
    font-size: 5rem;
}

  .headshot img{
      border-radius: 10rem;
      margin-left: 8.5rem;
  }
/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content h1 { color: #fff; }

.top-content .description {
	margin: 0px 0 10px 0;
	color: #fff;
}

.top-content .description a { color: #fff; border-bottom: 2px dotted #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border: 0; }

.top-content .top-big-link {
	margin-top: 35px;
}

/* Contact Form */

.form-box {
	padding-top: 40px;
    }

.form-top {
	padding: 25px 25px 15px 25px;
	background: #f7f4ed;
	text-align: left;
}

.form-top h3 { margin-top: 0; }

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #ebe6e0;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #d05a4e;
}

.contact-form {
    background-color: #ccbfa3ce;
}

form .btn {
    background-color: #ac2615;
    color: white;
    border: 1px solid black;
}

/* Footer */

footer {
    background-color: #383838;
    padding: 1rem 2rem 3rem;
    margin-top: 6rem;
    
  }
  footer img {
    height: 3.5rem;
    margin: 1.5rem auto;
  }
  footer p, footer a, .socket a {
    color: white;
    text-decoration: none;
  }
  ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
  }
  ul.social li {
    margin: 0 auto;
  }
  footer .svg-inline--fa {
    font-size: 2.3rem;
  }
  footer .svg-inline--fa:hover {
    color: #68a0d2;
  }
  
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	/* .inner-bg { padding: 40px 0 110px 0; } */

}




ul :first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header

.header {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    color: #fff;
    width: 100%;
    height: 85px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.header-inner {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}


.header.header-prepare, .header.header-light.header-prepare {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #f0f0f0;
}

.header.header-dark.header-prepare {
    background-color: rgba(34, 34, 34, 0.95);
    border-bottom: 0px none;
}

.header.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 58px;
}

.header-fixed .nav-menu ul.nav-menu-inner > li > a {
    padding-top: 24px;
    padding-bottom: 23px;
}

@media all and (min-width: 1025px) {

    /*header nav style*/
    /* .header.header-prepare .nav-menu ul.nav-menu-inner > li > a {
        color: rgba(34,34,34,0.60);
    }

        .header.header-prepare .nav-menu ul.nav-menu-inner > li:hover > a,
        .header.header-prepare .nav-menu ul.nav-menu-inner > li > a:hover {
            color: rgba(34,34,34,1);
        }

    .header.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li > a {
        color: rgba(255,255,255,0.75);
    }

        .header.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li:hover > a,
        .header.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li > a:hover {
            color: rgba(255,255,255,1);
        }
}

@media all and (max-width: 1024px) {
    .header {
        height: 58px;
    }

    .header-inner {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        display: table;
        width: 100%;
    }

    .header .logo a {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
}


/*------------------------------------------------------------------*/
/* Navigation Menu Style */
/*------------------------------------------------------------------*/
.nav-menu {
    position: static;
    float: right;
    display: block;
}

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul.nav-menu-inner {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .nav-menu ul.nav-menu-inner li {
            display: inline-block;
            list-style: none;
            text-align: left;
        }

        .nav-menu ul.nav-menu-inner > li > a {
            color: rgba(255,255,255,0.60);
        }

.header-light .nav-menu ul.nav-menu-inner > li > a {
    color: rgba(34, 34, 34, 0.6);
}




.nav-menu ul.nav-menu-inner li a {
    font-family: inherit;
    display: block;
    font-size: 11px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.nav-menu ul.nav-menu-inner > li > a {
    padding: 37px 15px;
}

.header .nav-menu ul.nav-menu-inner > li.active a,
.header .nav-menu ul.nav-menu-inner > li a.active,
.header .nav-menu ul.nav-menu-inner > li:hover > a,
.header .nav-menu ul.nav-menu-inner > li > a:hover,
.header.header-dark .nav-menu ul.nav-menu-inner > li.active a,
.header.header-dark .nav-menu ul.nav-menu-inner > li a.active,
.header.header-dark .nav-menu ul.nav-menu-inner > li:hover > a,
.header.header-dark .nav-menu ul.nav-menu-inner > li > a:hover,
.header.header-dark.header-prepare .nav-menu ul.nav-menu-inner li a.current,
.header.header-dark.header-prepare .nav-menu ul.nav-menu-inner li.current a {
    color: #fff;
}

.header.header-light .nav-menu ul.nav-menu-inner > li:hover > a,
.header.header-light .nav-menu ul.nav-menu-inner > li > a:hover,
.header.header-prepare .nav-menu ul.nav-menu-inner li a.current,
.header.header-prepare .nav-menu ul.nav-menu-inner li.current a {
    color: #222;
}

/* Mobile bar icon */
.nav-mobile.nav-bar-icon {
    display: none;
}

.nav-bar-icon {
    display: inline-block;
    float: right;
    position: relative;
    height: 16px;
    width: 20px;
    margin-top: 34px;
    margin-bottom: 35px;
    margin-left: 15px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    cursor: pointer;
}

.header-fixed .nav-bar-icon {
    margin-top: 21px;
    margin-bottom: 21px;
}

.nav-bar-icon a {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 19px 0;
}

    .nav-bar-icon.active a, .nav-bar-icon a.active,
    .nav-bar-icon:hover a, .nav-bar-icon a:hover {
        color: #17a697;
    }

.nav-bar-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    background-color: #222;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

    .nav-bar-icon > span:before,
    .nav-bar-icon > span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #222;
        -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
        -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: transform 0.3s, background 0.25s ease;
        transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
    }

header .nav-bar-icon > span,
header .nav-bar-icon > span:before,
header .nav-bar-icon > span::after,
header.header-dark .nav-bar-icon > span,
header.header-dark .nav-bar-icon > span:before,
header.header-dark .nav-bar-icon > span::after,
header.header-dark.header-prepare .nav-bar-icon > span,
header.header-dark.header-prepare .nav-bar-icon > span:before,
header.header-dark.header-prepare .nav-bar-icon > span::after {
    background-color: #fff;
}

header.header-light .nav-bar-icon > span,
header.header-light .nav-bar-icon > span:before,
header.header-light .nav-bar-icon > span::after,
header.header-prepare .nav-bar-icon > span,
header.header-prepare .nav-bar-icon > span:before,
header.header-prepare .nav-bar-icon > span::after {
    background-color: #222;
}


.nav-bar-icon > span:before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
}

.nav-bar-icon > span:after {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    -o-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -moz-transform: translateY(7px);
}

.nav-bar-icon.active {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

    .nav-bar-icon.active > span:before {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .nav-bar-icon.active > span:after {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    } */

